body {
    background: #6ca3a3; 
    /* background: #30c5ff */
  }

  .animation-wrapper{
    position: absolute;
    top: 4em;
    width: 100%;
    overflow: hidden;
  }
  
  /* svg#animal {
    top: 5em;
  } */
  /* Animal Animation */
  /* svg.animal{
    overflow:visible;
  } */
  
  @-webkit-keyframes swim
  {
      0% {margin-left: -400px}
      90% {margin-left: 100%;}
      100% {margin-left: 100%;}
  }
  
  @keyframes swim
  {
      0% {margin-left: -400px}
      70% {margin-left: 100%;}
      100% {margin-left: 100%;}
  }
  
  .animal{
      width: 250px;
      height: 250px;
      margin-left: -250px;
      overflow: visible;
      position: relative;	
      animation: swim 15s;
      -webkit-animation: swim 15s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
  }
  
  svg #animal1,
  svg #animal2,
  svg #animal3,
  svg #animal4,
  svg #animal5,
  svg #animal6 {
    
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  svg #animal2{
      animation-delay: 0.5s;
      -webkit-animation-delay: 0.5s;
  }
  
  svg #animal3{
      animation-delay: 0.2s;
      -webkit-animation-delay: 0.2s;
  }
  
  svg #animal4{
      animation-delay: 0.4s;
      -webkit-animation-delay: 0.4s;
  }
  
  svg #animal5{
      animation-delay: 0.1s;
      -webkit-animation-delay: 0.1s;
  }
  
  svg #animal6{
      animation-delay: 0.3s;
      -webkit-animation-delay: 0.3s;
  }
  
  /**/
  @-moz-keyframes bounce {
    0%, 50%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    25% {
      -moz-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    75% {
      -moz-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 50%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    75% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  @keyframes bounce {
    0%, 50%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25% {
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    75% {
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  
  /*END Animal Animation*/